<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <filterItem>
        <processor type="Sitecore.Support.Pipelines.FilterItem.GetPublishedVersionOfItem, Sitecore.Support.93538" patch:i="processor[@type='Sitecore.Pipelines.FilterItem.GetPublishedVersionOfItem, Sitecore.Kernel']" />
      </filterItem>
    </pipelines>
  </sitecore>
</configuration>